/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // scrollbar-gutter: stable;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  all: unset;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

a:visited {
  color: unset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'] {
  border: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
